{% extends 'base.html.twig' %}

{% block title %}Connexion administrateur{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
        <div class="container-sm">
            <h1 class=" m-4 font-weight-normal text-center">
                Zone administrateur<br>
                Veuillez renseigner les champs
            </h1>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <img src="{{ asset('/image/logo.jpeg')}}" class="rounded float-start">
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto">
                    <label for="inputEmail" class="m-2 bold-title">Email:</label>
                    <input type="email" name="email" id="inputEmail" class="form-control m-2" autocomplete="email" required autofocus>
                    
                    <label for="inputPassword" class="m-2 bold-title">Mot de passe:</label>
                    <input type="password" name="password" id="inputPassword" class="form-control m-2" autocomplete="current-password" required>
                    <div class="d-flex justify-content-center">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" class="m-2">
                        <button class="btn btn-lg btn-success m-2" type="submit">
                            Connexion
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
