{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container-sm text-center">
    <h1 class="text-center my-4">Nos services</h1>
    <p>
    Bienvenue chez <strong>V. PARROT</strong>, votre partenaire automobile de confiance ! Nous sommes spécialisés dans la mécanique, la carrosserie et le montage de pneus.<br><br>
    Notre équipe de professionnels expérimentés est là pour prendre soin de votre véhicule de A à Z. 
    Que vous ayez besoin d'une réparation mécanique, d'une remise en état de carrosserie ou d'un changement de pneus, 
    nous sommes équipés des outils et des compétences nécessaires pour vous offrir un service de qualité supérieure.<br><br>
    En matière de mécanique, nous prenons en charge tous types de réparations et d'entretien, qu'il s'agisse de vidange d'huile, 
    de réparation de freins, de diagnostic électronique ou de tout autre besoin mécanique. 
    Votre sécurité et la performance de votre véhicule sont notre priorité.<br><br>
    Notre équipe de carrossiers qualifiés est là pour redonner à votre voiture son apparence d'origine. 
    Que ce soit pour réparer des dommages suite à une collision, pour éliminer des rayures ou pour une rénovation complète de la carrosserie, nous mettons tout en œuvre pour rendre votre véhicule impeccable.<br><br>
    Enfin, pour tous vos besoins en pneumatiques, nous vous proposons un service de montage professionnel. 
    Nous vous conseillons sur le choix des pneus adaptés à votre véhicule et à votre style de conduite, puis nous assurons un montage précis et sécurisé pour vous permettre de rouler en toute confiance.<br><br>
    Chez <strong>V. PARROT</strong>, nous sommes fiers de fournir un service de qualité, une expertise technique et une approche personnalisée. 
    Faites-nous confiance pour prendre soin de votre voiture avec le plus grand soin. 
    Prenez rendez-vous dès maintenant et découvrez pourquoi nos clients nous font confiance depuis des années.
    </p>
</div>
<div class="container-sm">
    <div class="row">
        <div class="card m-3 bg-primary" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('/image/mecanics.jpeg')}}" class="img-fluid rounded-start" alt="mecanics-image" id="mecanics">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Mécanique</strong></h5>
                        <p class="card-text">
                        Bienvenue dans notre section Mécanique ! Chez V. PARROT, notre équipe expérimentée offre des services de mécanique automobile de haute qualité.
                        Que ce soit pour une vidange d'huile, un remplacement de pneus ou des réparations plus complexes, 
                        nous utilisons des équipements de pointe et des pièces de qualité. Nous vous garantissons un service professionnel, 
                        honnête et transparent. Confiez votre véhicule à nos experts et profitez d'une conduite en toute tranquillité. 
                        Prenez rendez-vous dès aujourd'hui pour un entretien régulier et des réparations fiables. Votre satisfaction est notre priorité.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="card m-3 bg-primary" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Carosserie</strong></h5>
                        <p class="card-text">
                        Nos spécialistes en carrosserie utilisent des techniques de pointe pour réparer et restaurer l'apparence de votre véhicule. 
                        Que ce soit pour des dommages légers ou majeurs, nous sommes là pour vous offrir un service de qualité et redonner à votre voiture son éclat d'origine. 
                        Nous évaluons les dommages, vous fournissons un devis détaillé et travaillons avec soin pour vous satisfaire. 
                        Faites confiance à notre expertise en carrosserie pour retrouver une voiture impeccable. 
                        Prenez rendez-vous dès aujourd'hui et offrez une nouvelle jeunesse à votre véhicule. 
                        Votre satisfaction est notre priorité absolue.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('/image/mecanics.jpeg')}}" class="img-fluid rounded-start" alt="mecanics-image" id="mecanics">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-3 bg-primary" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('/image/mecanics.jpeg')}}" class="img-fluid rounded-start" alt="mecanics-image" id="mecanics">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Montage de pneus</strong></h5>
                        <p class="card-text">
                        Nous assurons le montage professionnel de pneus pour tous types de véhicules. Notre équipe expérimentée offre un service rapide et fiable. 
                        Que ce soit pour un changement saisonnier, un remplacement usuel ou une amélioration de performance, nous sommes là pour vous aider. 
                        Nous utilisons des équipements de pointe et suivons les procédures recommandées par les fabricants pour un montage précis et sécurisé. 
                        Nos experts en pneumatiques sont disponibles pour vous conseiller sur le choix des pneus adaptés à votre véhicule et votre style de conduite. 
                        Avec une large sélection de marques renommées, nous avons des options pour tous les budgets. Chez V. PARROT, votre satisfaction est notre priorité. 
                        Prenez rendez-vous dès maintenant pour un montage de pneus efficace et conduisez en toute sécurité.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="container-sm">
<div class="row">
    <div class="col-12">
            <h3 class="text-center my-4">Témoignages de nos clients</h3>
            <h4 class="text-center my-4">Nous laisser un avis</h4>
    </div>
    
{% for testimonial in testimonial %}
    {% if testimonial.approved %}
	<div class="col-3">
		<div class="card h-70 m-3">
			<div class="card-body text-center">
				<h5 class="card-title">{{ testimonial.name }}</h5>
				<p class="card-text">{{ testimonial.content }}</p>
				<p>La note laissée est de: {{ testimonial.note }}</p>
			</div>
		</div>
	</div>
    {% endif %}
{% endfor %}
</div>
</section>
{% include "_partials/_footer.html.twig" %}
{% endblock %}
