<section>
	<div class="container">
		<div
			class="row justify-content-center">
			<!-- Mise en place d'un boucle, pour créer individuellement chaque annonce -->
			{% for car in usedCar %}
				<div class="col-auto col-md-auto cars-filter" id="car" data-year={{ car.year }} data-kilometer={{ car.kilometer }} data-price={{ car.price }}>
					<div
						class="card m-1 bg-secondary event-card" style="width: 320px; height: 550px;">
						<!-- Ajout d'une condition pour mettre en place le carousel -->
						{% if car.getImages()|length > 1 %}
							<div id="carCarousel{{ loop.index }}" class="carousel">
								<div class="carousel-inner">
									{% for image in car.getImages() %}
										<div class="carousel-item {% if loop.first %} active{% endif %}">
											<img src="{{ vich_uploader_asset(image, 'imageFile')}}" class="d-block w-100 h-auto img-fluid" style="max-width: 320px; height: 250px;" alt="Car Image">
										</div>
									{% endfor %}
								</div>
								<a class="carousel-control-prev" href="#carCarousel{{ loop.index }}" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only"></span>
								</a>
								<a class="carousel-control-next" href="#carCarousel{{ loop.index }}" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only"></span>
								</a>
							</div>
						{% else %}
							{% for image in car.getImages() %}
								<img src="{{ vich_uploader_asset(image, 'imageFile')}}" class="d-block w-100 h-auto img-fluid" style="max-width: 320px; height: 250px;" alt="Car Image">
							{% endfor %}
						{% endif %}
						<div class="card-body" id="card-body">
							<h5 class="card-title" id="nameCar{{loop.index}}">{{ car.name}}</h5>
							<div class="card-text">
								<p id="price">Prix:
									{{ car.price}}€</p>
								<p id="annee">Première immatriculation:
									{{ car.year}}</p>
								<p id="km">Nombre de km:
									{{ car.kilometer}}km</p>
								<p id="energy">Moteur:
									{{ car.energy}}</p>
							</div>
							<!-- Ajout d'une modal pour afficher les détails du véhicule -->
							<button type="button" class="btn btn-success col-12 my-1" data-bs-toggle="modal" data-bs-target="#exampleModal{{ loop.index }}">
								Détails
							</button>
							<div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel{{ loop.index }}">{{ car.name}}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											{% if car.caracteristics is defined and car.caracteristics|length > 0 %}
												{% set hasSemicolon = ';' in car.caracteristics %}
												{% set formattedCaracteristics = car.caracteristics|replace({';': '<br>', '{': '<strong>', '}': '</strong>'}) %}

												{% if hasSemicolon %}
													<p class="caracteristics">{{ formattedCaracteristics|raw }}</p>
												{% else %}
													<p class="caracteristics">{{ formattedCaracteristics|raw }}</p>
												{% endif %}
											{% endif %}
										</div>
										<div class="modal-footer ">
											<button type="button" class="btn btn-success" data-bs-dismiss="modal">Fermer</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Ajout d'une autre modal pour afficher le formulaire d'intéressement -->
							<button type="button" onclick="preRemplir({{"nameCar" ~ loop.index}})" class="btn btn-success col-12" data-bs-toggle="modal" data-bs-target="#exampleModal">
								Je suis intéressé
							</button>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h1 class="text-center my-4">Votre demande</h1>
				{{ form_start(form, {'attr': {'id': 'form-contact'}}
				) }}
				<div class="form-group my-1">
					<p class="bold-title">Prénom:</p>
					{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.firstName) }}
				</div>
				<div class="form-group my-1">
					<p class="bold-title">Nom:</p>
					{{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.lastName) }}
				</div>
				<div class="form-group my-1">
					<p class="bold-title">E-mail:</p>
					{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.email) }}
				</div>
				<div class="form-group my-1">
					<p class="bold-title">Votre numéro de téléphone:
						{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}{{ form_errors(form.phoneNumber) }}
					</p>
				</div>
				<div class="form-group my-1" id="formContent">
					<p class="bold-title">Votre demande:</p>
					{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.content) }}
				</div>
				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-success my-3">Envoyer</button>
				</div>
				{{ form_end(form) }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
<!-- Ajout du JS pour pré remplir le formulaire -->
<script>

function preRemplir(nameCar) {

        const carName = document.getElementById(nameCar.id).textContent;
        const contentField = document.querySelector("#contact_content");
        contentField.value = 'Je vous contacte pour la ' + carName;
    }
    
</script>
