{% extends 'base.html.twig' %}

{% block title %}Voitures d'occasion{% endblock %}

{% block body %}
<div class="container-sm text-center">
        <h1 class="text-center my-4">Nos occasions</h1>
</div>
<section class="container-sm">
<div class="row">
    <div class="col-12">
            <h2 class="text-center my-4">Les occasions récente</h2>
    </div>
{% for usedCar in usedCar %}
    <div class="col-4">
        <div class="card h-70 m-3 bg-primary" style="width: 20rem" >
            <img src="{{asset('uploads/images/' ~ usedCar.image)}}" class="card-img-top" style="width: 20rem; height: 15rem" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ usedCar.name}}</h5>
                <p class="card-text">
                    {{ usedCar.price}}€<br>
                    {{ usedCar.year}}<br>
                    {{ usedCar.kilometer}}km<br>
                    {{ usedCar.energy}}<br>
                </p>
                <div class="accordion bg-primary border-rounder" id="accordionExample{{ loop.index }}">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{ loop.index }}" aria-expanded="false" aria-controls="collapseTwo{{ loop.index }}">
                                Caractéristiques
                            </button>
                        </h2>
                        <div id="collapseTwo{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample{{ loop.index }}">
                            <div class="accordion-body">
                                {{ usedCar.caracteristics }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</section>
{% include "_partials/_footer.html.twig" %}
{% endblock %}
