{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="row">
            <div class="col-12 mx-auto">
                <h1 class="text-center my-4">Votre demande</h1>
                {{ form_start(form, {'attr': {'id': 'form-contact'}} ) }}
                <div class="form-group my-3">
                    <p class="bold-title">Prénom:</p>
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="form-group my-3">
                    <p class="bold-title">Nom:</p>
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.lastName) }}
                </div>
                <div class="form-group my-3">
                    <p class="bold-title">E-mail:</p>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group my-3">
                    <p class="bold-title">Votre numéro de téléphone:
                        {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}{{ form_errors(form.phoneNumber) }}
                    </p>
                </div>
                <div class="form-group my-3" id="formContent">
                    <p class="bold-title">Votre demande:</p>
                    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'id': 'contentField'}}) }}
                    {{ form_errors(form.content) }}
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success my-3">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% include 'menu/footer.html.twig' %}
{% endblock %}
