{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
<div class="container-sm">
    <h1 class="text-center my-4">Votre demande</h1>

    {{ form_start(form) }}

    <div class="form-group my-3">
        Prénom:
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.firstName) }}
    </div>

    <div class="form-group my-3">
        Nom:
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.lastName) }}
    </div>

    <div class="form-group my-3">
        E-mail:
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group my-3">
        Votre numéro de téléphone:
        {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.phoneNumber) }}
    </div>

    <div class="form-group my-3">
        Votre demande:
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.content) }}
    <label for="car-year-input">Année du véhicule:</label>
    </div>

    <button type="submit" class="btn btn-primary my-3">Envoyer</button>

    {{ form_end(form) }}
</div>
{% include 'menu/footer.html.twig' %}
{% endblock %}
