{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
<div class="container-sm">
    <h1 class="text-center my-4">Votre demande</h1>

    {{ form_start(form) }}

    <div class="form-group my-3">
        Prénom:
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.firstName) }}
    </div>

    <div class="form-group my-3">
        Nom:
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.lastName) }}
    </div>

    <div class="form-group my-3">
        E-mail:
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group my-3">
        Votre numéro de téléphone:
        {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.phoneNumber) }}
    </div>

    <div class="form-group my-3">
        Votre demande:
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.content) }}
    </div>

    <button type="submit" class="btn btn-primary my-3">Envoyer</button>

    {{ form_end(form) }}
</div>
<footer>
	<div class="container-sm">
		<div class="row">
			<div class="col-md-4 text-center my-3">
				<h5>Horaires</h5>
        {% for openingDays in openingDays %}
                <p><strong>{{ openingDays.days }}:</strong>  {{ openingDays.open }}</p>
        {% endfor %}
			</div>
			<div class="col-md-4 text-center my-3">
				<h5>Vous êtes satisfait
					<br>
					de nos services ?</h5><br>
				<h5>Faites-part de vos<br>
					impressions
				</h5><br>
				<a class="btn btn-primary mbsy-3" href="{{ path('app_testimonial')}}" role="button">Cliquez-ici</a>
			</div>
			<div class="col-md-4 text-center my-3">
				<h5>Adresse</h5>
				<p>{{ address.street }}</p>
				<p>{{ address.city }}</p>
				<p>{{ address.zipCode }}</p>
                <h5>Téléphone</5><br>
                <p>{{ address.phoneNumber }}</p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}
