<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Garage V. PARROT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('assets/styles/app.scss') }}">
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/app.js') }}">
    </head>
    <body>
    {% include "_partials/_nav.html.twig" %}



        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}

        <script src="{{ asset('assets/bootstrap.min.js') }}"></script>
</body>
    
    </body>
    
</html>